<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFishServiceDB" />
                <binding name="BasicHttpsBinding_IFishServiceDB">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://fishwebservicedbaswopg620180103124829.azurewebsites.net/FishServiceDB.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFishServiceDB"
                contract="ServiceReference1.IFishServiceDB" name="BasicHttpBinding_IFishServiceDB" />
            <endpoint address="https://fishwebservicedbaswopg620180103124829.azurewebsites.net/FishServiceDB.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IFishServiceDB"
                contract="ServiceReference1.IFishServiceDB" name="BasicHttpsBinding_IFishServiceDB" />
        </client>
    </system.serviceModel>
</configuration>